# Hetzner Cloud Konfiguration
HETZNER_API_TOKEN=dein_hetzner_read_write_api_token
VOLUME_ID=107045799
LOCATION=nbg1

# Sicherheit & Authentifizierung
AUTH_SECRET=dein_geheimes_auth_secret_fuer_requests

# AWS Lambda Infos (für lokale Tests / Frontend)
LAMBDA_FUNCTION_URL=https://deine-id.lambda-url.eu-central-1.on.aws/